.color {
	position: absolute;
	top: calc((100vw - var(--min_screen_width)) / 42.3 + 40px);
	right: calc((100vw - var(--min_screen_width)) / 31.1 + 40px);
	width: calc((100vw - var(--min_screen_width)) / 32.8 + 30px);
	height: calc((100vw - var(--min_screen_width)) / 32.8 + 30px);

	border-radius: 100%;

	border: solid 1.5px var(--main-color);

	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 50px calc((100vw - var(--min_screen_width)) / 1480 + 1px)
				var(--main-color),
			inset 0 0 10px calc((100vw - var(--min_screen_width)) / 1480 + 1px)
				var(--main-color);
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 0 70px calc((100vw - var(--min_screen_width)) / 740 + 2px)
				var(--main-color),
			inset 0 0 10px calc((100vw - var(--min_screen_width)) / 2960 + 0.5px)
				var(--main-color);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 50px calc((100vw - var(--min_screen_width)) / 1480 + 1px)
				var(--main-color),
			inset 0 0 10px calc((100vw - var(--min_screen_width)) / 1480 + 1px)
				var(--main-color);
	}
}

.me {
	top: 200px;

	display: flex;
}

.photo {
	width: calc((100vw - var(--min_screen_width)) / 4.48 + 300px);
	height: calc((100vw - var(--min_screen_width)) / 4.48 + 300px);

	border-radius: 100%;

	box-shadow: 0 0 calc((100vw - var(--min_screen_width)) / 51.83 + 12.5px)
		var(--main-color);
}

.info {
	margin-left: calc((100vw - var(--min_screen_width)) / 25.4 + 20.75px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 38px;
}

@media (max-width: 960px) {
	.me,
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.me {
		top: 75px;

		gap: 30px;
	}

	.info {
		margin: 0;

		gap: 15px;
	}
}

.title1,
.title2 {
	font-family: var(--font);
	font-weight: 500;
	font-size: calc((100vw - var(--min_screen_width)) / 24.6 + 20px);
	color: var(--main-color);
}

.title1 {
	margin-left: -29px;
}

@media (max-width: 960px) {
	.title1 {
		margin: 0;
	}

	.title2 {
		display: none;
	}

	.title1::after {
		visibility: visible;

		content: 'Алексеев Илья';
		white-space: nowrap;
	}
}

.line {
	width: calc((100vw - var(--min_screen_width)) / 3.91 + 246px);
	height: 2px;

	background: var(--main-color);
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc((100vw - var(--min_screen_width)) / 20.8 + 25px);
}

@media (max-width: 960px) {
	.line,
	.links {
		margin: 0;
	}
}

.links li {
	cursor: pointer;
}

.telegram {
	width: calc((100vw - var(--min_screen_width)) / 31.5 + 30px);
	height: calc((100vw - var(--min_screen_width)) / 37.3 + 25px);
}

.email {
	width: calc((100vw - var(--min_screen_width)) / 25.5 + 32px);
	height: calc((100vw - var(--min_screen_width)) / 40 + 24.5px);
}

.phone {
	width: calc((100vw - var(--min_screen_width)) / 29.9 + 30.5px);
	height: calc((100vw - var(--min_screen_width)) / 29.9 + 30.5px);
}

.github {
	width: calc((100vw - var(--min_screen_width)) / 26.1 + 33px);
	height: calc((100vw - var(--min_screen_width)) / 22.76 + 32px);
}

.fixLetter {
	letter-spacing: 2px;
}

@media (max-width: 960px) {
	.fixLetter {
		letter-spacing: 0px;
	}
}

.resume {
	width: calc((100vw - var(--min_screen_width)) / 3.5 + 200px);
	height: calc((100vw - var(--min_screen_width)) / 16.5 + 41px);

	display: flex;
	justify-content: center;
	align-items: center;

	border: calc((100vw - var(--min_screen_width)) / 740 + 1px) solid
		var(--main-color);
	border-radius: calc((100vw - var(--min_screen_width)) / 74 + 10px);

	font-family: var(--font);
	font-weight: 400;
	font-size: calc((100vw - var(--min_screen_width)) / 43.5 + 16px);
	color: var(--main-color);

	background: inherit;

	cursor: pointer;

	transition: 0.3s ease;
}

.resume:hover {
	box-shadow: 0 0 calc((100vw - var(--min_screen_width)) / 98.6 + 5px) 3px
		var(--main-color);
}
